@import "@/app/style/breakpoints.scss";

.link {
  text-decoration: none;
  color: black;
  padding: 35px 65px;
  border-radius: 8px;
}

.active {
  color: white;
  background: black;
}

@include respond-to(tablet) {
  .link {
    padding: 10px;
  }
}
