@import "@/app/style/variables.scss";
@import "@/app/style/breakpoints";

.header {
  position: relative;
  width: 100%;
  height: $slideHeight;
}

.infos {
  flex-grow: 1;
  display: flex;

  .title {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3rem;
  }

  .description {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include respond-to(tablet) {
  .header {
    margin-top: 80px;
  }

  .infos {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      width: 100%;
      padding-top: 20px;
      h1 {
        font-size: 2rem;
      }
    }

    .description {
      width: 80%;
    }
  }
}
