@import "./variables.scss";

html {
  scroll-behavior: smooth;
  background-color: #f1d0b364;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-family: $font4;
  font-size: 55px;
  font-weight: 300;
}

h2 {
  font-family: $font2;
}

p {
  font-family: $fontText;
  font-size: 20px;
  font-style: italic;
}
