@import "@/app/style/breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&family=Mynerve&family=Reenie+Beanie&family=Sedgwick+Ave+Display&display=swap");

$main: #A6BB9C;
$second: #1DA9AE;
$backgroundColor: #fc8115;

/* $fontTitle: var(--fontTitle);
$fontText: var(--fontText); */

$fontTitle: "Mynerve", cursive;
$fontText: "Handlee", cursive;

$headerHeight: 194px;
$slideHeight: 30rem;